.login-container{

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:30px;

}

.login-card{

width:430px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.2);

box-shadow:0 10px 40px rgba(0,0,0,.25);

text-align:center;

animation:fadeIn .8s ease;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-card h1{

font-size:35px;

margin-bottom:10px;

}

.login-card p{

margin-bottom:20px;

}

.login-card form{

display:flex;

flex-direction:column;

gap:18px;

margin-top:20px;

}

.login-card input{

padding:15px;

border:none;

border-radius:10px;

outline:none;

font-size:16px;

background:rgba(255,255,255,.85);

}

.login-card input:focus{

box-shadow:0 0 10px #00f2fe;

}

.login-card button{

padding:15px;

border:none;

border-radius:30px;

font-size:17px;

font-weight:bold;

background:linear-gradient(90deg,#00c6ff,#0072ff);

color:white;

}

.login-card button:hover{

transform:scale(1.05);

}

.demo{

margin-top:30px;

background:rgba(255,255,255,.15);

padding:15px;

border-radius:15px;

text-align:left;

}

.demo h3{

margin-bottom:10px;

text-align:center;

}

.demo p{

font-size:14px;

margin-bottom:8px;

}