.navbar {
    width: 100%;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffe600;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile span {
    color: white;
    font-weight: 600;
}

.profile button {
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    background: crimson;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.profile button:hover {
    background: #b60028;
    transform: scale(1.05);
}

@media(max-width:768px){

.navbar{

flex-direction:column;

gap:15px;

padding:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

}

}